body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('milad-fakurian-nY14Fs8pxT8-unsplash.jpg');
    background-size: cover;
}

nav {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 20px; /* Distancia desde la parte superior de la pantalla */
    left: 20px; /* Distancia desde el borde izquierdo de la pantalla */
    right: 20px; /* Distancia desde el borde derecho de la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-radius: 25px;
    height: 50px; /* Altura de la navbar */
    padding: 0 20px;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 0.5rem; /* Ajuste del espaciado entre los enlaces */
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    transform: translateY(-0.5rem);
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}


header {
    background-color: rgba(191, 191, 191, 0.194);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    margin-top: 70px; /* Ajuste para dejar espacio a la barra de navegación */
}

h1 {
    font-size: 4rem;
    margin: 0;
}

button {
    background-color: #fff;
    color: #333;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.parallax {
    background-image: url('indigo.jpg'); /* Cambia con la ruta de tu imagen */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    margin-top: 70px; /* Ajuste para dejar espacio a la barra de navegación */
}

.parallax h2 {
    font-size: 3rem;
    margin: 0;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.parallax p {
    font-size: 1.5rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.contenido {
    padding: 4rem;
    text-align: justify;
    font-size: 1.5rem;
    color: #333;
}